@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij GroupSpace</h1>
    <h3 style="margin-top:25px">Dit is een educatief project voor de EHB-studenten Graduaat Programmeren </h3>
    <p style="margin-top:100px">(Learn more about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>)
</div>
